body {
  background-color: #C1E8FF !important;
}

nav {
  background-color: #020107;
}

*{
  font-family: 'Caveat', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Merienda', cursive;
  margin:0;
  padding:0;
}

.search__bar__navigation {
  margin: 0;
  padding: 10px;
}

.search__bar {
  margin: 0 20%;
}

input.form-control {
  background-color: #020107 !important;
  color: #C1E8FF !important;
}

input.form-control::placeholder {
  color: #C1E8FF !important;
}

.nav-item {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  padding: 2px 4px;
}

.nav-link:hover {
  border-bottom: solid 4px #726EFF;
  color: #726EFF !important;
  transition: 0.3s;
}

#droppedNavMenu a {
  font-weight: bold;
  font-size: large;
}

#brand a {
  font-size: large;
  font-weight: bold;
}

.icons {
  margin: 1rem 0;
  margin-right: 2rem;
}

.bi {
  margin: 0 0.5rem;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='aqua' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
border-color: aqua !important;
box-shadow: none;
}

.main {
  background-color: #C1E8FF;
}

.home__img__container {
  height: 550px;
  background: url("/static/images/home-main-image.png") center center;
  background-size:cover;
}

.main__container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  height: 90vh;
  background-color: #020107;
  z-index: 1;
  width: 100%;
  max-width: 2000px;
  padding: 0 50px;
}
  
#mainImg {
  height: 40%;
  width: 40%;
}

/* Modal Dialoges */
.modal-card {
  max-width: 540px;
}

.modal-content {
  background-color: #020107 !important;
}

.modal__more__button:hover {
  color: #726EFF !important;
  transition: 0.3s;
}

/* Carousel styles */

#carouselExampleCaptions {
  margin-top: 4.5rem;
}

.c-item {
  height: 550px;
}

.c-image {
  margin: auto;
  transform: translateY(-15%);
}

/* Watches page */
.aside__container {
  background-color: #020107;
}

.offers__container {
  margin: 2rem 1rem;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(0, 0fr);
}

.card {
  border-color: #020107 !important;
  flex-grow: 0;
  border-width: 2px !important;
  width: 100%;
}

.card-body {
  background-color: #726EFF;
}

#watchesCont {
  background-color: #C1E8FF;
}

#moreBrandsButton {
  padding: 1rem 0;
  margin: 2rem 25rem;
}

#moreBrandsButton p {
  padding: 0 !important;
  margin: 0;
}

#moreBrandsButton:hover {
  background-color: #bbdffb;
  border-color: #726EFF !important;
  transition: 0.8s;
}

#moreBrandsButton p:hover {
  color: #726EFF !important;
}

/* Brand section */
.brand__cards {
  background-color: #C1E8FF;
  padding: 4rem 0;
  padding-bottom: 0;
}

.brand__link {
  text-decoration: none;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}

.brand__link p {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.brand__card__cont {
  background-color: #020107;
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brand__card {
  margin: 1rem 3rem;
}

/* Brands page */
.brands__container {
  justify-content: center;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 50px;
}

.brands__card {
  width: 18rem;
  border-color: #726EFF !important;
  border-width: 2.5px !important;
}

/* Offers Section */
.dropdown-menu {
  background-color: #3DD5F3 !important;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  color: #5b8cff !important;
}

/* Login Form */
#loginPageBrandImg, #registerPageBrandImg {
  position: absolute;
  top: 1.5rem;
}

#loginBody, #registerBody {
  background-image: url(images/login-page-bg-img.png);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background-position:center center;
  background-size:cover;
}

#loginCont {
  width: 420px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid #726EFF;
  padding: 30px 40px;
  border-radius: 15px;
}

#loginCont .remember-forgot, #loginCont .register-link {
  display: flex;
  justify-content: space-between;
}

#loginCont .register-link {
  margin-top: 0.5rem;
}

#loginCont input {
  color: aqua;
}

#loginCont .remember-forgot input {
  accent-color: #726EFF;
  background-color: aqua;
}

#loginCont input::placeholder {
  color: aqua;
}

#loginCont a:hover {
  text-decoration: underline !important;
  text-decoration-color: #726EFF !important;
}

#loginCont h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

#loginCont .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #726EFF;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.input-box svg {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

#loginCont .btn {
  width: 100%;
  height: 45px;
  background-color: #726EFF;
  color: aqua;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

#loginCont .btn:hover {
  background-color: white;
  color: #726EFF;
  transition: 0.5s;
}

/* Purchases Main Container */
#purchasesMainCont {
  background-color: #C1E8FF;
  width: 100%;
  margin: 0;
}

#purchasesMainCont aside {
  max-height: 450px;
  background-color: #020107;
  width: 30%;
}

#myPurchase {
  width: 70%;
}

#myPurchase p {
  color: #064663;
}

#previousPurchase {
  position: relative;
}

#previousPurchase p {
  margin-left: 53%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Footer */
#brandFooter {
  display: flex;
  padding: 80px 0;
  font-weight: 600;
}

.footer-under{
  background-color:#020107;
  padding-bottom:50px;
  padding-top:50px;
  height:350px;
  color: aqua;
  position:relative;
  font-weight:100;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.foot-list {
  float: left;
  width: 150px;
}

.foot-list-title {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 0.5em 0;
}

.foot-list-item{
  color:rgba(238, 238, 238, 0.8);
  font-size: 0.9em;
  padding:0.5em 0;
}
.foot-list-item:hover{
  color:rgba(238, 238, 238, 1);
}

.foot-form-cont{
  width: 300px;
  float: right;
}

.foot-form-title{
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0.5em 0;
  text-align: center;
  font-size: 2em;
}

.foot-form-desc{
  font-size: 1em;
  font-weight: 450;
  color: #58afdd;
  line-height: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.sub-input{
  width:100%;
  margin-bottom:15px;
  padding:7px 10px;
  border-radius:2px;
  color:#fff;
  background-color:#bbdffb;
  border:none;
}

.sub-btn{
  width:100%;
  margin:15px 0;
  background-color:#1a8ae5;
  border:none;
  color:#fff;
  border-radius:2px;
  padding:7px 10px;
  font-size:1em;
  cursor:pointer;
}

.sub-btn:hover{
  background-color:#726EFF;
  color: aqua;
  transition: 0.3s;
}

.sub-btn:active{
  background-color:#573f5c;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #a3c6dcff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#2264dcff, #5a8cffff);
  /* background: linear-gradient(#6454F0, #6EE2F5); */
  /* background: linear-gradient(#3A3985, #3499FF); */
  /* background: linear-gradient(#121C84, #8278DA); */
  border-radius: 15px;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .brands__container {
    justify-content: center;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 20px;
  }

  .brands__card {
    width: 15rem;
  }
}

@media screen and (max-width: 992px) {
  .brands__container {
    justify-content: center;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 20px;
  }

  .brands__card {
    width: 13rem;
  }

  #moreBrandsButton {
    margin: 0 18rem;
  }
}

@media screen and (max-width: 768px) {
  .brands__container {
    justify-content: center;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 20px;
  }

  .brands__card {
    width: 12rem;
  }

  #moreBrandsButton {
    margin: 0 12rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar-nav {
    margin: 0 auto;
    width: 60%;
  }

  .brands__container {
    justify-content: center;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 20px;
  }

  .brands__card {
    width: 10rem;
  }

  #moreBrandsButton {
    margin: 0 3rem;
  }

  #moreBrandsButton p {
    padding: 0 6rem;
  }

  .footer-under {
    padding: 0;
    height: 650px;
  }

  #brandFooter {
    padding: 2rem;
  }

  .foot-form-title {
    margin-top: 2rem;
  }

  .brand__link p {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .c-item {
    height: 300px;
  }

  .c-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .search__bar {
    margin: 0 20px;
  }

  #brand {
    display: none;
  }

  .icons {
    margin: 1rem 0;
    margin-right: 0;
  }

  #purchasesMainCont aside {
    max-height: 425px;
    background-color: #020107;
    width: 50%;
  }

  #indexImgCont img {
    background-image: url(images/2023_03_MASERATI_LANDING_480_418.jpg);
  }
  /* TODO: Fix mobile version for IShit SE */
}

/* #021024 */